# Source data
*.csv
*.ods
*.xlsx
data

# PBI
reporting

# Notebooks checkpoints
.ipynb_checkpoints
__pycache__
.vscode
.DS_Store

# Packages build
dist
build
*.egg-info
.pytest_cache
.pyc

# Models
/app/models